#page {
  /* Modifications : suppression de la bordure - marges */
  margin: 0;
  border: none;
}

.cv-container {
  display: grid;
  width: 210mm;
  height: 295.9mm;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
  margin: auto;
}

.left-column {
  grid-area: left-column;
  padding: 50px 50px 30px 50px;
  background-color: #018ba0;
  color: white;
}

.right-column {
  grid-area: right-column;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "header"
    "content";
}

.header {
  grid-area: header;
  padding: 50px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  list-style-type: none;
  padding-inline-start: 10px;
}

.content {
  grid-area: content;
  padding: 20px 50px 20px 50px;
}

.text-blue {
  color: #018ba0;
}

.text-darkblue {
  color: #012f36;
}

.text-uppercase {
  text-transform: uppercase;
}

.icon {
  margin-right: 0.5rem;
}

.left-column .section {
  margin-bottom: 1.5rem;
}

.portait {
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px; /* Espace les lettres entre elles de 1px */
  margin: 0 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.left-column ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.section h2 {
  text-transform: uppercase;
}

.no-margin {
  margin: 0px;
}

.experience-list {
  list-style-type: circle;
}

.section {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
